<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MediScreen - Notes Patient Add</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>

	<div class="container">
	
		<div class="logo">
			<img src="/images/MediScreenLogo.png">
			<h1>MediScreen</h1>
		</div>
  		
  		<div class="patientTableActions">
	  		<form method="GET" th:action="@{/patient/{patId}(patId=${notesPatientBean.patId})}" >
	  			<button type="submit"> &lt;- Back to patients details</button>
	  		</form>
  		</div>

		<form th:action="@{/patient/notes/add}" th:object="${notesPatientBean}" method="POST" >

			<!-- Add a hidden input field for patId  -->
   			<input type="hidden" th:field="*{patId}" />

			<textarea name="notes" placeholder="Text here..." th:field="*{e}"></textarea>

			<button name="notesPatientBean" type="submit" formmethod="POST">Add Notes</button>

		</form>
		
	</div>

</body>
</html>