<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MediScreen - Notes Patient Update</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>

	<div class="container">
	
		<h1>Application MediScreen</h1>
		
		<form method="GET" action="/patient" >
  			<button type="submit" formmethod="GET"> &lt;- Back to patients details</button>
  		</form>

		<form th:action="@{/patient/notes/update}" th:object="${notesPatientBean}" method="POST" >

			<!-- Add a hidden input field for patId  -->
   			<input type="hidden" th:field="*{patId}" />
   			
			<!-- Include the notesId as a hidden input field -->
    		<input type="hidden" name="notesId" th:value="${notesPatientBean.notesId}" />

			<div class="input">
				<label for="notes">Notes</label> 
				<textarea class="sec-2" name="notes" placeholder="Text here..." th:value="${notesPatientBean.e}" th:field="*{e}"></textarea>
			</div>

			<button name="notesPatientBean" type="submit" formmethod="POST">Update Notes</button>

		</form>
		
	</div>

</body>
</html>