<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MediScreen - Patient Details</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
	
	<div class="container">
	
		<div class="logo">
			<img src="/images/MediScreenLogo.png">
			<h1>MediScreen</h1>
		</div>
		
		<div class="patientTableActions">
		
			<form method="GET" action="/patient" >
	  			<button type="submit" formmethod="GET"> &lt;- Back to patients list</button>
	  		</form>
	  		
	  		<div class="error" th:if="${param.success}">
				<label>Modifications successfully done!</label>
			</div>
	  		
	  		<div class="rightButtons">
				<form id="assessForm" method="POST" th:action="@{/patient/{patId}/assess(patId=${patientBean.id})}">
				    <button name="patientAssessment" type="submit" formmethod="POST">Assess diabetes risk</button>
				</form>
		  		
			  	<form method="POST" th:action="@{/patient/delete/{id}(id=${patientBean.id})}">
					<button name="deletePatient" type="submit" formmethod="POST">Delete Patient</button>
				</form>
			</div>
			
			<figure class="notification">
			    <div class="notification_body">
			        <p id="assessResultMessage" th:text="${assessResult}"></p>
			    </div>
			</figure>
			
  		</div>		

		<form class="patient-form" method="POST" th:object="${patientBean}">
			<fieldset>
			
				<legend>Patient Details</legend>
				
				<div class="form-content">
					<div class="form-left">
	
						<div class="input-group">
							<div class="input-wrapper">
								<label for="given" class="input-label">Firstname*</label> 
								<input class="input" name="given" type="text"  placeholder="Firstname" th:field="*{given}" required />
							</div>
							<p class="error" th:unless="${#fields.hasErrors('given')}"></p>
							<p class="error" th:if="${#fields.hasErrors('given')}" th:errors="*{given}"></p>
						</div>
			
						<div class="input-group">
						 	<div class="input-wrapper">
								<label for="family" class="input-label">Lastname*</label> 
								<input class="input" name="family" type="text" placeholder="Lastname" th:field="*{family}" required />
							</div>
							<p class="error" th:unless="${#fields.hasErrors('family')}"></p>
							<p class="error" th:if="${#fields.hasErrors('family')}" th:errors="*{family}"></p>
						</div>
			
						<div class="input-group">
							<div class="input-wrapper">
								<label for="dob">Date Of Birth*</label> 
								<input name="dob" type="date" th:field="*{dob}" required />
							</div>
							<p class="error" th:unless="${#fields.hasErrors('dob')}"></p>
							<p class="error" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></p>
						</div>
			
						<div class="input-group">
							<div class="input-wrapper">
								<label>Gender*</label>
								<input id="sexChoice1" name="sex" type="radio" value="F" th:field="*{sex}" required />
								<label for="sexChoice1">Female</label> 
								<input id="sexChoice2" name="sex" type="radio" value="M" th:field="*{sex}" required /> 
								<label for="sexChoice2">Male</label>
							</div>
						</div>
						
					</div>
					<div class="form-right">
						<fieldset>
						
							<legend>Contact</legend>
							
							<div class="input-group">
								<div class="input-wrapper">
									<label for="address" class="input-label">Address</label> 
									<input class="input" name="address" type="text" placeholder="Address" th:field="*{address}" />
								</div>
								<p class="error" th:unless="${#fields.hasErrors('address')}"></p>
								<p class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
							</div>
				
							<div class="input-group">
								<div class="input-wrapper">
									<label for="phone" class="input-label">Phone Number</label> 
									<input class="input" name="phone" type="text" placeholder="012-345-6789" th:field="*{phone}" />
								</div>
								<p class="error" th:unless="${#fields.hasErrors('phone')}"></p>
								<p class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
							</div>
							
						</fieldset>
						
						<label>Fields marked with (*) are mandatory</label>
						
						<button name="patientBean" type="submit" formmethod="POST">Modify</button>
						
					</div>
				</div>
			</fieldset>
		</form>
		
		<div>
			<div class="patientTableActions">
				<form method="GET" th:action="@{/patient/{id}/notes/add(id=${patientBean.id})}">
					<button name="addNotes" type="submit" formmethod="GET">Add new notes</button>
				</form>
				
				<div class="error" th:if="${param.notesAdd}">
					<label>Notes has been added.</label>
				</div>
				
				<div class="error" th:if="${param.notesUpt}">
					<label>Notes has been modified.</label>
				</div>
				
				<div class="error" th:if="${param.notesDel}">
					<label>Notes has been deleted.</label>
				</div>
				
				<div class="error" th:if="${param.notesError}">
					<label>Notes could not be deleted.</label>
				</div>
			</div>
						
			<div th:each="notes: ${notesPatient}">
			
				<details>
				    <summary>
				        <span th:text="${#temporals.format(notes.dateTimeNote, 'dd/MM/yyyy HH:mm')}"></span>
				    </summary>
					<pre th:text="${notes.e}"></pre>
					<div class="note-button">
						<form method="GET" th:action="@{/patient/notes/{id}(id=${notes.notesId})}">
							<button name="updateNotes" type="submit" formmethod="GET">Update</button>
						</form>
						<form method="POST" th:action="@{/patient/{patId}/notes/delete/{notesId}(notesId=${notes.notesId}, patId=${patientBean.id})}">
							<button name="deleteNotes" type="submit" formmethod="POST">X</button>
						</form>
					</div>
				</details>

			</div>
		
		</div>
		
	</div>
	
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('#assessForm');
        const notification = document.querySelector('.notification');
        const assessResultMessage = document.querySelector('#assessResultMessage');

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(form);
            fetch(form.action, {
                method: form.method,
                body: formData,
            })
            .then(response => response.text())
            .then(data => {
                assessResultMessage.textContent = data;
                notification.style.visibility = 'visible';
                notification.style.opacity = '1';

                setTimeout(() => {
                	notification.style.visibility = 'hidden';
                	notification.style.opacity = '0';
                }, 5000);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>

</html>