<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MediScreen - Patient Add</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>

	<div class="container">
	
		<h1>Application MediScreen</h1>
		
		<form method="GET" action="/patient" >
  			<button type="submit" formmethod="GET"> &lt;- Back to patients list</button>
  		</form>

		<form th:action="@{/patient/add}" th:object="${patientBean}" method="POST" >

			<div class="input">
				<label for="given">Firstname*</label> 
				<input class="sec-2" name="given" type="text" placeholder="Firstname" th:field="*{given}" required />
				<p class="error" th:if="${#fields.hasErrors('given')}" th:errors="*{given}"></p>
			</div>

			<div class="input">
				<label for="family">Lastname*</label> 
				<input class="sec-2" name="family" type="text" placeholder="Lastname" th:field="*{family}" required />
				<p class="error" th:if="${#fields.hasErrors('family')}" th:errors="*{family}"></p>
			</div>

			<div class="input">
				<label for="dob">Date Of Birth*</label> 
				<input class="sec-2" name="dob" type="date" th:field="*{dob}" required />
				<p class="error" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></p>
			</div>

			<fieldset>
				<legend>Gender*</legend>
				<div>
					<input class="sec-2" id="sexChoice1" name="sex" type="radio" value="F" th:field="*{sex}" required />
					<label for="sexChoice1">Female</label> 
					<input class="sec-2" id="sexChoice2" name="sex" type="radio" value="H" th:field="*{sex}" required /> 
					<label for="sexChoice2">Male</label> 
				</div>
				<p class="error" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></p>
			</fieldset>
			
			<div class="input">
				<label for="address">Address</label> 
				<input class="sec-2" name="address" type="text" placeholder="Address" th:field="*{address}" />
				<p class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
			</div>

			<div class="input">
				<label for="phone">Phone Number</label> 
				<input class="sec-2" name="phone" type="text" placeholder="012-345-6789" th:field="*{phone}" />
				<p class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
			</div>

			<p>Fields marked with (*) are mandatory</p>

			<button name="patientBean" type="submit" formmethod="POST">Add Patient</button>

		</form>
		
	</div>

</body>
</html>