<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MediScreen - Patient List</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
<script>
	function redirectToPatientDetails(row) {
		var url = row.getAttribute('data-url');
		window.location.href = url;
	}
</script>
</head>

<body>
	
	<div class="container">
		
		<h1>Application MediScreen</h1>
		
		<div class="error" th:if="${param.delSuccess}">
			<label>Patient has been deleted.</label>
		</div>
			
		<div class="error" th:if="${param.addSuccess}">
			<label>Patient has been added.</label>
		</div>

 		<form method="GET" action="/patient/add" >
  			<button type="submit" formmethod="GET">Add a new patient</button>
  		</form>
  			
		<div class="search-bar">
		    <form method="GET" action="/patient">
		        <input type="text" name="firstname" placeholder="Search by Firstname...">
		        <input type="text" name="lastname" placeholder="Search by Lastname...">
		        <button type="submit">Search</button>
		    </form>
		</div>	
 		 
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Gender</th>
					<th>Date Of Birth</th>
					<th>Address</th>
					<th>Phone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="patient: ${patients}"  th:data-url="@{/patient/{id}(id=${patient.id})}" onclick="redirectToPatientDetails(this)">
					<td th:text="${patient.id}" />
					<td th:text="${patient.given}" />
					<td th:text="${patient.family}" />
					<td th:text="${patient.sex}" />
					<td th:text="${patient.dob}" />
					<td th:text="${patient.address}" />
					<td th:text="${patient.phone}" />
					<td>
						<form method="POST" th:action="@{/patient/delete/{id}(id=${patient.id})}">
							<button type="submit" formmethod="POST">X</button>
						</form>
					</td>	
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>